<div class="ride-share">
  <mat-card>
    <h2 i18n="ride request header@@rideRequestHeader">Request Ride</h2>
    <form #requestForm="ngForm" (ngSubmit)="createRequest()">
      <div class="requestForm">
        <mat-form-field>
          <input appMapsAutocomplete #sourceElement="ngModel" name="source" matInput required
                 [(ngModel)]="request.source"
                 placeholder="Pickup Location"
                 i18n-placeholder="location to be picked up at@@pickupLocationInput">
          <mat-error *ngIf="sourceElement.valid || sourceElement.pristine">
            Pickup location is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input appMapsAutocomplete #destinationElement="ngModel" name="destination" matInput required
                 [(ngModel)]="request.destination" placeholder="Destination"
                 i18n-placeholder="location driver will drop person off at@@destinationInput">
          <mat-error>
            Destination is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select name="time" required placeholder="Pickup time" [(ngModel)]="time"
                      i18n-placeholder="time for pickup@@pickupTimeInput">
            <mat-option *ngFor="let time of times" [value]="time">{{time | date:'shortTime'}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input name="date" matInput [min]="minDate" [(ngModel)]="date" [matDatepicker]="picker"
                 placeholder="Pickup Date" i18n-placeholder="date for pickup@@pickupDateInput">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <button mat-button type="submit" [disabled]="!requestForm.form.valid"
              i18n="button to submit ride request@@createButton">Create
      </button>
    </form>

  </mat-card>
</div>

