.main {
    height: 100%;
    display: grid;
    grid-template-rows: 64px 1fr;
    background-color: #FAFAFA;
}

.mat-subheader {
  margin: 0;
}

#user {
  padding: 16px;
  margin: 0;
}


@import '~@angular/material/theming';

@mixin active-link($theme) {
  $accent: map-get($theme, accent);

  .active-link {
    color: mat-color($accent) !important;
  }

}

.activity-indicator {
  position: absolute;
}

.example-spacer {
  flex: 1 1 auto;
}
