<div class="main">
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
    <span>Here for you</span>

  </md-toolbar>
  <md-sidenav-container>
    <md-sidenav #sidenav>
      <h2 *ngIf="currentUser | async as user">{{user.name}}</h2>
      <a md-button routerLink="/ride-share" routerLinkActive="active-link">
        <md-icon>directions car</md-icon> Ride Share
      </a>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-container>

</div>
