<md-progress-bar class="activity-indicator" color="accent" [hidden]="!(indicatorStatus | async)" mode="query"></md-progress-bar>
<div class="main">
  <md-toolbar color="primary">
    <button md-icon-button md-tooltip="Menu" (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>Here for you</span>
    <span class="example-spacer"></span>
    <ng-container appToolbarTemplate></ng-container>
  </md-toolbar>
  <md-sidenav-container>
    <md-sidenav #sidenav id="sidenav">
      <md-nav-list>
        <h2 *ngIf="currentUser | async as user" id="user">Welcome {{user.userName}}
          <button md-icon-button (click)="logout()" mdTooltip="Logout">
            <md-icon>exit_to_app</md-icon>
          </button>
        </h2>

        <md-list-item routerLink="/home" routerLinkActive="active-link">
          <md-icon md-list-icon>home</md-icon>
          <a md-line>Home</a>
        </md-list-item>

        <md-divider></md-divider>

        <h3 md-subheader>Believe with confidence</h3>
        <a discourseLink="/new-topic?category=prayer" md-list-item>
          <md-icon md-list-icon>sentiment_very_satisfied</md-icon>
          <span md-line>Request Prayer</span>
        </a>
        <a discourseLink="/new-topic?category=prayer" md-list-item>
          <md-icon md-list-icon>forum</md-icon>
          <span md-line>Share an Answered Prayer</span>
        </a>
        <a discourseLink="/new-topic?category=prayer" md-list-item>
          <md-icon md-list-icon>forum</md-icon>
          <span md-line>Encouragement</span>
        </a>

        <md-divider></md-divider>
        <h3 md-subheader>Live with confidence</h3>
        <md-list-item routerLink="/ride-share">
          <md-icon md-list-icon>directions car</md-icon>
          <p md-line>Ride Share</p>
        </md-list-item>

        <a discourseLink="" md-list-item>
          <md-icon md-list-icon>forum</md-icon>
          <span md-line>Grow</span>
        </a>
        <md-list-item routerLink="/your-rights">
          <md-icon md-list-icon>security</md-icon>
          <p md-line>Your Rights</p>
        </md-list-item>
        <md-list-item routerLink="/life-lessons">
          <md-icon md-list-icon>local_library</md-icon>
          <p md-line>Life Lessons</p>
        </md-list-item>

        <md-divider></md-divider>
        <h3 md-subheader>Speak with confidence</h3>
        <md-list-item routerLink="/learn" routerLinkActive="active-link">
          <md-icon md-list-icon>school</md-icon>
          <a md-line>Learn</a>
        </md-list-item>
        <a discourseLink="/c/learn" md-list-item>
          <md-icon md-list-icon>local_library</md-icon>
          <span md-line>Class List and Signup</span>
        </a>

        <ng-container *requireRole="'admin'">
          <md-divider></md-divider>
          <h3 md-subheader>Admin</h3>
          <md-list-item routerLink="/user/admin" routerLinkActive="active-link">
            <md-icon md-list-icon>face</md-icon>
            <a md-line>User Managment</a>
          </md-list-item>
          <md-list-item routerLink="/ride-share/admin" routerLinkActive="active-link">
            <md-icon md-list-icon>directions car</md-icon>
            <a md-line>Ride Share aduit</a>
          </md-list-item>
        </ng-container>

      </md-nav-list>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-container>

</div>
