<mat-progress-bar class="activity-indicator" color="accent" [hidden]="!(indicatorStatus | async)"
                  mode="query"></mat-progress-bar>
<div class="main">
  <mat-toolbar color="primary">
    <button mat-icon-button i18n-mat-tooltip="menu button tooltip@@menu" mat-tooltip="Menu" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span i18n="site title@@appTitle">Here for you</span>
    <span class="example-spacer"></span>
    <ng-container appToolbarTemplate></ng-container>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav id="sidenav">
      <mat-nav-list>
        <h2 *ngIf="currentUser | async as user" id="user">
          <ng-container i18n="welcome user@@welcomeUser">Welcome {{user.userName}}</ng-container>
          <button mat-icon-button (click)="logout()" i18n-mat-tooltip="logout button@@logoutTooltip"
                  mat-tooltip="Logout">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </h2>

        <mat-list-item routerLink="/home" routerLinkActive="active-link">
          <mat-icon mat-list-icon>home</mat-icon>
          <a mat-line i18n="take user to home page link@@homeLink">Home</a>
        </mat-list-item>

        <mat-divider></mat-divider>

        <h3 mat-subheader i18n="title above belive group@@believeTagline">Believe with confidence</h3>
        <a mat-list-item href="/cms/about-faith">
          <mat-icon mat-list-icon>directions</mat-icon>
          <span mat-line i18n="a clickable link@@aboutOurFaith">About our Faith</span>
        </a>
        <a mat-list-item discourseLink="/new-topic?category=prayer">
          <mat-icon mat-list-icon>pan_tool</mat-icon>
          <span mat-line i18n="a clickable link@@RequestPrayer">Request Prayer</span>
        </a>
        <a mat-list-item discourseLink="/new-topic?category=prayer">
          <mat-icon mat-list-icon>forum</mat-icon>
          <span mat-line i18n="a clickable link@@testimonies">Testimonies</span>
        </a>
        <a mat-list-item href="/cms/encouragement">
          <mat-icon mat-list-icon>favorite</mat-icon>
          <span mat-line i18n="a clickable link@@weeklyEncouragement">Weekly Encouragement</span>
        </a>

        <mat-divider></mat-divider>
        <h3 mat-subheader i18n="title above live group@@liveTagline">Live with confidence</h3>
        <a mat-list-item routerLink="/ride-share">
          <mat-icon mat-list-icon>directions_car</mat-icon>
          <p mat-line i18n="a clickable link@@rideShareLink">Get a Ride</p>
        </a>
        <a mat-list-item discourseLink="/c/life-lesson">
          <mat-icon mat-list-icon>explore</mat-icon>
          <p mat-line i18n="link to life lessons page@@lifeLessonsLink">Life Lessons</p>
        </a>
        <a mat-list-item routerLink="/your-rights">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <p mat-line i18n="link to your rights page@@yourRightsLink">Your Rights</p>
        </a>
        <a mat-list-item routerLink="/help" routerLinkActive="active-link">
          <mat-icon mat-list-icon>live_help</mat-icon>
          <a mat-line i18n="link to send an email asking for help@@helpLink">Ask for Help</a>
        </a>

        <mat-divider></mat-divider>
        <h3 mat-subheader i18n="title above speak group@@speakTagLine">Speak with confidence</h3>
        <a mat-list-item discourseLink="/c/learn" routerLinkActive="active-link">
          <mat-icon mat-list-icon>language</mat-icon>
          <a mat-line i18n="link to learn page@@learnLink">Practice your English</a>
        </a>
        <a mat-list-item routerLink="/class-request">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span mat-line i18n="link to class list on forum@@classListLink">Request a tutor</span>
        </a>

        <ng-container *requireRole="'admin'">
          <mat-divider></mat-divider>
          <h3 mat-subheader>Admin</h3>
          <mat-list-item routerLink="/user/admin" routerLinkActive="active-link">
            <mat-icon mat-list-icon>face</mat-icon>
            <a mat-line>User Managment</a>
          </mat-list-item>
          <mat-list-item routerLink="/ride-share/admin" routerLinkActive="active-link">
            <mat-icon mat-list-icon>directions car</mat-icon>
            <a mat-line>Ride Share aduit</a>
          </mat-list-item>
        </ng-container>

      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>

</div>
