.home {
  display: grid;
}

@media (max-width: 1360px) {
  .home {
    grid-template-columns: 14px minmax(250px, 1fr) 14px;
    grid-template-rows: 0 auto auto auto 0;
    grid-row-gap: 14px;
    grid-template-areas: ". . ." ". believe ." ". live ." ". speak ." ". . .";
  }
}

@media (min-width: 1360px) {
  .home {
    height: 100%;
    grid-template-columns: 1fr repeat(3, 360px) 1fr;
    grid-template-rows: 1fr 360px 1fr;
    grid-gap: 70px;
    grid-template-areas: ". . . . ." ". believe live speak ." ". . . . .";
  }
}
