<div class="home">
  <md-card style="grid-area: believe;" class="mat-elevation-z8">
    <md-nav-list>
      <h3 md-subheader>Believe</h3>
      what do you want here?
    </md-nav-list>
  </md-card>
  <md-card style="grid-area: live;" class="mat-elevation-z8">
    <md-nav-list>
      <h3 md-subheader>Live <h5>and live well... or something else?</h5></h3>
      <md-list-item routerLink="/ride-share">
        <md-icon md-list-icon>directions car</md-icon>
        <p md-line>Ride Share</p>
      </md-list-item>

      <md-list-item routerLink="/learn" routerLinkActive="active-link">
        <md-icon md-list-icon>school</md-icon>
        <a md-line>Learn</a>
      </md-list-item>
      <a href="http://discourse.hahn-kev.com:82/" md-list-item>
        <md-icon md-list-icon>forum</md-icon>
        <span md-line>Grow</span>
      </a>
    </md-nav-list>
  </md-card>
  <md-card style="grid-area: speak;" class="mat-elevation-z8">
    <md-nav-list>
      <h3 md-subheader>Speak</h3>
      what do you want here?
    </md-nav-list>
  </md-card>
</div>
