<div class="home">
  <md-card [style.grid-area]="'believe'" class="mat-elevation-z6">
    <md-nav-list>
      <h3 md-subheader>Believe with confidence</h3>
      <a md-list-item discourseLink="/new-topic?category=prayer">
        <md-icon md-list-icon>sentiment_very_satisfied</md-icon>
        <span md-line>Request Prayer</span>
      </a>
      <a md-list-item discourseLink="/new-topic?category=prayer">
        <md-icon md-list-icon>forum</md-icon>
        <span md-line>Share an Answered Prayer</span>
      </a>
      <a md-list-item discourseLink="/new-topic?category=prayer">
        <md-icon md-list-icon>forum</md-icon>
        <span md-line>Encouragement</span>
      </a>
    </md-nav-list>
  </md-card>
  <md-card [style.grid-area]="'live'" class="mat-elevation-z6">
    <md-nav-list>
      <h3 md-subheader>Live with confidence</h3>
      <a md-list-item routerLink="/ride-share">
        <md-icon md-list-icon>directions car</md-icon>
        <p md-line>Ride Share</p>
      </a>

      <a md-list-item discourseLink="">
        <md-icon md-list-icon>forum</md-icon>
        <span md-line>Grow</span>
      </a>
      <a md-list-item routerLink="/your-rights">
        <md-icon md-list-icon>security</md-icon>
        <p md-line>Your Rights</p>
      </a>
      <a md-list-item routerLink="/life-lessons">
        <md-icon md-list-icon>local_library</md-icon>
        <p md-line>Life Lessons</p>
      </a>
    </md-nav-list>
  </md-card>
  <md-card [style.grid-area]="'speak'" class="mat-elevation-z6">
    <md-nav-list>
      <h3 md-subheader>Speak with confidence</h3>
      <a md-list-item routerLink="/learn" routerLinkActive="active-link">
        <md-icon md-list-icon>school</md-icon>
        <a md-line>Learn</a>
      </a>
      <a md-list-item discourseLink="/c/learn">
        <md-icon md-list-icon>local_library</md-icon>
        <span md-line>Class List and Signup</span>
      </a>
      <a md-list-item routerLink="/help" routerLinkActive="active-link">
        <md-icon md-list-icon>help</md-icon>
        <a md-line>Ask for Help</a>
      </a>
    </md-nav-list>
  </md-card>
</div>
