.home {
  height: 100%;
  display: grid;
}

@media (max-width: 1360px) {
  .home {
    min-height: 1400px;
    grid-template-columns: 1fr 360px 1fr;
    grid-template-rows: 0 1fr 1fr 1fr 0;
    grid-gap: 70px;
    grid-template-areas: ". . ." ". believe ." ". live ." ". speak ." ". . .";
  }
}

@media (min-width: 1360px) {
  .home {
    grid-template-columns: 1fr repeat(3, 360px) 1fr;
    grid-template-rows: 1fr 360px 1fr;
    grid-gap: 70px;
    grid-template-areas: ". . . . ." ". believe live speak ." ". . . . .";
  }
}
