<form (ngSubmit)="save()">
  <div>
    <md-input-container>
      <input mdInput required name="name" [(ngModel)]="user.userName" placeholder="Username">
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input mdInput required name="phoneNumber" [(ngModel)]="user.phoneNumber" type="tel" placeholder="Phone Number">
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input mdInput name="password" autocomplete="off" [(ngModel)]="password" type="password" placeholder="Password">
    </md-input-container>
  </div>
  <div>
    <md-checkbox [(ngModel)]="user.rideProvider" name="rideprovider">Ride Provider</md-checkbox>
  </div>

  <button type="submit" md-button>Save</button>
</form>
