<div class="user">
  <mat-card>
    <form #userForm="ngForm" (ngSubmit)="save()">
      <div>
        <mat-form-field>
          <input matInput required name="name" [(ngModel)]="user.userName" placeholder="Username">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput required name="email" [(ngModel)]="user.email" type="email"
                 placeholder="Email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput required name="phoneNumber" [(ngModel)]="user.phoneNumber" type="tel"
                 placeholder="Phone Number">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field *ngIf="!isNew">
          <input matInput name="password" autocomplete="off" [(ngModel)]="password" type="password"
                 placeholder="Password">
        </mat-form-field>
        <mat-form-field *ngIf="isNew">
          <input matInput required #passwordElement="ngModel" name="password" minlength="8" autocomplete="off"
                 [(ngModel)]="password" type="password"
                 placeholder="Password">
          <mat-error *ngIf="passwordElement.valid || passwordElement.pristine">
            Password must be at least 8 characters long
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-checkbox [(ngModel)]="user.rideProvider" name="rideprovider">Ride Provider</mat-checkbox>
      </div>
      <div *ngIf="!isNew">
        <button type="button" *ngIf="!user.isAdmin" (click)="grantAdmin()" mat-raised-button color="accent">Grant Admin
          rights
        </button>
        <button type="button" *ngIf="user.isAdmin" (click)="revokeAdmin()" mat-raised-button color="accent">Revoke Admin
          rights
        </button>
        <button type="button" (click)="deleteUser()" mat-raised-button color="accent">Delete</button>
      </div>

      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
      <button type="submit" [disabled]="!userForm.form.valid" mat-button>{{isNew ? 'Register' : 'Save'}}</button>
    </form>
  </mat-card>
</div>



