.user {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 360px 1fr;
  grid-template-columns: 1fr 360px 1fr;
  grid-template-areas: '. . .' '. user .' '. . . ';
  .mat-card {
    grid-area: user;
  }
}

.mat-input-container {
  width: 100%;
}
