<input type="file" hidden #fileInput accept="image/*" (change)="selectedFile = fileInput.files[0].name"/>
<button mat-icon-button (click)="fileInput.click()" mat-tooltip="Select Image to upload" matTooltipPosition="after">
  <mat-icon>attach_file</mat-icon>
</button>
<mat-input-container>
  <input matInput [disabled]="!selectedFile" [(ngModel)]="selectedFile"
         placeholder="Name">
</mat-input-container>
<button mat-icon-button (click)="selectedFile = null" [hidden]="!selectedFile" mat-tooltip="Clear image">
  <mat-icon>close</mat-icon>
</button>
<button mat-icon-button [disabled]="!selectedFile" (click)="upload()" mat-tooltip="Upload image">
  <mat-icon>file_upload</mat-icon>
</button>


<mat-progress-bar [hidden]="!uploading" mode="determinate" [value]="uploadProgress"></mat-progress-bar>

<mat-nav-list>
  <mat-list-item *ngFor="let image of images | async" ngxClipboard
                [cbContent]="'!['+image.name+']' + '(/api/image/'+image.id+' \'Hover text:100%x100%\')'">
    <h4 mat-line>{{image.name}}</h4>
    <mat-icon mat-tooltip="Delete Image" (click)="deleteImage(image)">delete</mat-icon>
    <mat-icon mat-tooltip="Copy embed link">content_copy</mat-icon>
  </mat-list-item>
</mat-nav-list>
