<ng-container *appToolbarContent>

</ng-container>
<div class="content mat-elevation-z4">
  <div class="example-header">
    <md-button-toggle-group [ngModel]="userView" (ngModelChange)="setUserView($event)">
      <md-button-toggle value="driver">Driver</md-button-toggle>
      <md-button-toggle value="rider">Rider</md-button-toggle>
    </md-button-toggle-group>
    <md-select class="select" [ngModel]="userId" (ngModelChange)="setUserId($event)">
      <md-option [value]="2">khahn</md-option>
      <md-option [value]="1">testUser</md-option>
    </md-select>
  </div>
  <md-table [dataSource]="dataSource">
    <ng-container cdkColumnDef="createdTime">
      <md-header-cell *cdkHeaderCellDef> Created time</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.createdTime | date:'short'}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="source">
      <md-header-cell *cdkHeaderCellDef> Source</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.source}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="destination">
      <md-header-cell *cdkHeaderCellDef> Destination</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.destination}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="acceptedByUser">
      <md-header-cell *cdkHeaderCellDef> Driver</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.acceptedByUser}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="requestedByUser">
      <md-header-cell *cdkHeaderCellDef> Rider</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.requestedByUser}}</md-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <md-header-row
      *cdkHeaderRowDef="['createdTime', 'source', 'destination', 'acceptedByUser', 'requestedByUser']"></md-header-row>
    <md-row
      *cdkRowDef="let row; columns: ['createdTime', 'source', 'destination', 'acceptedByUser', 'requestedByUser']"></md-row>
  </md-table>

</div>
