<ng-container *appToolbarContent>

</ng-container>
<div class="content mat-elevation-z4">
  <div class="example-header">
    <mat-button-toggle-group [ngModel]="userView" (ngModelChange)="setUserView($event)">
      <mat-button-toggle value="driver">Driver</mat-button-toggle>
      <mat-button-toggle value="rider">Rider</mat-button-toggle>
      <mat-button-toggle value="any">Any</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-select class="select" [ngModel]="userName" placeholder="User" (ngModelChange)="setUserName($event)">
      <mat-option value="all">All</mat-option>
      <mat-option *ngFor="let user of users | async" [value]="user.userName">{{user.userName}}</mat-option>
    </mat-select>
  </div>
  <mat-table [dataSource]="dataSource">
    <ng-container cdkColumnDef="createdTime">
      <mat-header-cell *cdkHeaderCellDef> Created time</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.pickupTime | date:'short'}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="source">
      <mat-header-cell *cdkHeaderCellDef> Source</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.source}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="destination">
      <mat-header-cell *cdkHeaderCellDef> Destination</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.destination}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="acceptedByUser">
      <mat-header-cell *cdkHeaderCellDef> Driver</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.acceptedByUser}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="requestedByUser">
      <mat-header-cell *cdkHeaderCellDef> Rider</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.requestedByUser}}</mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row
      *cdkHeaderRowDef="['createdTime', 'source', 'destination', 'acceptedByUser', 'requestedByUser']"></mat-header-row>
    <mat-row
      *cdkRowDef="let row; columns: ['createdTime', 'source', 'destination', 'acceptedByUser', 'requestedByUser']"></mat-row>
  </mat-table>

</div>
