<div class="login">
  <md-card>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <h1>Welcome to Here for you</h1>
      <h3>Please login</h3>
      <div>
        <md-input-container>
          <input #usernameElement="ngModel" name="username" mdInput required [(ngModel)]="this.username"
                 placeholder="Username">
          <md-error *ngIf="usernameElement.valid || usernameElement.pristine">
            Username required
          </md-error>
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <input #passwordElement="ngModel" type="password" name="password" mdInput required [(ngModel)]="this.password"
                 placeholder="Password">
          <md-error *ngIf="passwordElement.valid || passwordElement.pristine">
            Password required
          </md-error>
        </md-input-container>
      </div>
      <md-error *ngIf="errorMessage">
        {{errorMessage}}
      </md-error>
      <button md-button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </md-card>
</div>
