<div class="login">
  <md-card>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <h1 i18n="login page welcome@@welcomeLogin">Welcome to Here for you</h1>
      <h3 i18n="label above login form@@loginLabel">Please login</h3>
      <div>
        <md-input-container>
          <input #usernameElement="ngModel" name="username" mdInput required [(ngModel)]="username"
                 placeholder="Username" i18n-placeholder="input hint for username at login@usernameLoginInput">
          <md-error *ngIf="usernameElement.valid || usernameElement.pristine"
                    i18n="message telling user that the username is required@@usernameRequiredError">
            Username required
          </md-error>
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <input #passwordElement="ngModel" type="password" name="password" mdInput required [(ngModel)]="password"
                 placeholder="Password" i18n-placeholder="input hint for password at login@passwordLoginInput">
          <md-error *ngIf="passwordElement.valid || passwordElement.pristine"
                    i18n="message telling user that the password is required@@passRequiredError">
            Password required
          </md-error>
        </md-input-container>
      </div>
      <md-error *ngIf="errorMessage">
        {{errorMessage}}
      </md-error>
      <button md-button type="submit" [disabled]="!loginForm.form.valid" i18n="login button@@loginButton">Login</button>
    </form>
    <md-card-footer>
      <a href="/api/settings/setLanguage/en" md-raised-button color="accent">English</a>
      <a href="/api/settings/setLanguage/es" md-raised-button color="accent">Español</a>
    </md-card-footer>
  </md-card>
</div>
