@import '~@angular/material/theming';

.edit-site {
  display               : grid;
  grid-template-columns : auto;
  grid-template-rows    : auto auto;
  grid-template-areas   : '. card .' '. accordion .';
  grid-row-gap          : 12px;
  margin-left           : 12px;
  margin-right          : 12px;
  .mat-card {
    grid-area : card;
    .mat-card-actions > .mat-button {
      margin : 0 8px 0 0;
    }
  }

  .mat-accordion {
    grid-area : accordion;
    .mat-content {
      width : 0;
    }
    .mat-expansion-panel-header-description {
      white-space   : nowrap;
      overflow      : hidden;
      text-overflow : ellipsis;
    }
  }
}

.trafficking {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-between;
  > * {
    padding-right : 16px;
    flex          : 1 1 180px;
  }
}

.trafficking-box {
  align-self : flex-start;
  flex-basis : 45% !important;
}

.visit, .site {
  display         : flex;
  flex-wrap       : wrap;
  align-items     : baseline;
  justify-content : space-between;
  > * {
    padding-right : 16px;
    flex          : 1;
  }
}
