<ng-container *appToolbarContent>
  <ng-container *requireRole="'admin'">
    <button mat-icon-button [hidden]="editing" mat-tooltip="Edit" (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
    <a mat-icon-button [hidden]="!editing" mat-tooltip="Help"
       href="https://help.github.com/articles/basic-writing-and-formatting-syntax/" target="_blank">
      <mat-icon>help</mat-icon>
    </a>
    <button mat-icon-button [hidden]="!editing" mat-tooltip="Save" (click)="saveChanges()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button [hidden]="!editing" mat-tooltip="Discard changes" (click)="revert()">
      <mat-icon>close</mat-icon>
    </button>
  </ng-container>
</ng-container>

<div *ngIf="page" class="cms">
  <mat-form-field [style.grid-area]="'edit'" *ngIf="editing">
    <textarea rows="10" cols="80" matInput [(ngModel)]="page.content" placeholder="Markdown"></textarea>
  </mat-form-field>
  <div *ngIf="editing" [style.grid-area]="'upload'">
    <app-image-manager [category]="page.name"></app-image-manager>
  </div>
  <mat-card>
    <markdown [data]="page.content"></markdown>
    <mat-card-footer class="footer">
      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          {{'edited by ' + page.updatedBy + ' ' + ((page.lastUpdated | date: 'short') || 'never')}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-footer>
  </mat-card>
</div>

