.help {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 360px 1fr;
  grid-template-columns: 1fr 360px 1fr;
  grid-template-areas: '. . .' '. help .' '. . . ';
}

.mat-card {
  grid-area: help;
}

.mat-input-container {
  width: 100%;
}
